*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(#4aa0ea, #3636dd, #a62be6);
    background-repeat: no-repeat;
}
main{
    width: 50rem;
    height: 100vh;
    margin: auto;
    display: grid;
    align-content: start;
    justify-items: center;
   grid-template-columns: auto auto auto;
   grid-template-rows:auto auto ;
}
#stopWatch{
    grid-column: 1 / 4;
    margin: auto;
    font-size: 100px;
    color: #7c0e0e;
}
.button{
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    padding: 40px 1px;
    border-radius: 70%;
    margin: 20px;
    width: 40%;
}
.button:hover{
    cursor: pointer; 
}
#start{
    background-color: #a2f6a2;
}
#start:hover{
    background-color: #15f354;
}
#mark{
    background-color: rgb(26, 102, 102);
}
#pause{
    background-color: orange;
}
#reset{
    background-color: #e59898;
}
#reset:hover{
background-color: red;
}
.button:disabled{
    cursor: not-allowed;
    background-color: white !important;
}
.markid{
    margin:0px 30px;
    width: 10%;
    display: inline-block;

}
#markList{
    margin-top: 100px;
    grid-column: 1 / 4;
    width: 100%;
    height: 30rem;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    border-radius: 10px;
    padding: 20px;
    scroll-behavior: smooth;
}
#markList::-webkit-scrollbar{/* this selects the scroll bar*/
    display: none;
}
.none{
    display: none;
}
.marks{
    font-size: 30px;
    color: white;
    padding: 12px;
    background-color: rgb(55, 55, 55);
    margin: 10px 0px;
    border-radius: 8px;
}
